.suggestions {
  margin-right: 20px;
  margin-top: 30px;
}

.suggstions-header {
  color: grey;
  font-weight: bold;
}

.username-left {
  display: flex;
  align-items: center;
}
.username-info {
  display: flex;
  flex-direction: column;
}

.relation {
  color: grey;
  font-size: 12px;
}

.suggestion-username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.follow-button {
  color: #0095f6;
  font-weight: bold;
  background: 0;
  border: 0;
  margin-left: 100px;
}

.suggestion-usernames {
  width: 100%;
}

.follow-button:hover {
  color: white;
  cursor: pointer;
}

.username {
  font-weight: 600;
  font-size: 14px;
}
.avatar {
  margin-right: 10px;
}
